# IDE settings (project-wide)
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# Environment variables
.env
*.override.envrc

# Python
.venv/
__pycache__/

# Node.js
node_modules/

# Environment files
*.envrc
!*.envrc.example
